<!-- Experience Section -->
<section class="experience section" id="experience">
    <div class="container">
        <div class="section-heading">
            <h2>Experience</h2>
            <div class="underline"></div>
        </div>
        <!-- <div class="experience-timeline"> -->
            <!-- Experience Item 1: Software Engineer -->
            <div class="timeline-item">
                <div class="timeline-icon">
                    <i class="fas fa-briefcase"></i> <!-- Example icon -->
                </div>
                <div class="timeline-content">
                    <div class="timeline-header">
                        <img src="assets/images/sunbeam_logo" alt="Esko Graphics Logo" class="company-logo">
                        <div class="company-info">
                            <h3 class="job-title">Generative AI Intern</h3>
                            <h4 class="company-name">SunBeam InfoTech Private Ltd.</h4>
                            <span class="job-duration"><i class="far fa-calendar-alt"></i> Dec 2025 - Jan 2026</span>
                            <p class="company-location"><i class="fas fa-map-marker-alt"></i> Pune, India</p>
                        </div>
                    </div>
                    <div class="job-description">
                        <ul>
                            <li>Gained hands-on experience in Generative AI including LLMs, LangChain, RAG, Agentic RAG, Streamlit, Selenium, ChromaDB, APIs, and Web Scraping.</li>
                            <li>Build A Custom chatbot designed for Sunbeam Infotech using LLMs, ChromaDB, embeddings, and Streamlit UI..</li>
                            <li>Developed a Resume Shortlisting Web Application to analyze and filter resumes based on job requirements.</li>
                            <li>Created a Weather Info Web App and CSV File Uploader to fetch API data and process datasets.</li>
                            <li>Participated in Group Discussions, Mock HR Interview and Project Presentation Activities.</li>
                            <li>Actively participated in system design, ensuring smooth integration of both backend services and UI components.</li>
                        </ul>
                    </div>
                    <div class="experience-tech-stack">
                        <h5>Tech Stack:</h5>
                        <div class="tech-tags">
                            <span class="tech-tag">Python</span>
                            <span class="tech-tag">LLM</span>
                            <span class="tech-tag">LangChain</span>
                            <span class="tech-tag">ChromaDB</span>
                            <span class="tech-tag">Streamlit</span>
                            <span class="tech-tag">Prompt Engineering</span>
                            <span class="tech-tag">RAG</span>
                            <span class="tech-tag">Embeddings</span>
                            <span class="tech-tag">AI Agents</span>
                            
                        </div>
                    </div>
                </div>
            </div>

            <!-- Experience Item 2: Software Development Internship -->
            <!-- <div class="timeline-item">
                <div class="timeline-icon">
                    <i class="fas fa-graduation-cap"></i> 
                </div>
               <!-- <div class="timeline-content">
                    <div class="timeline-header">
                        <img src="assets/images/company-logo-placeholder.svg" alt="Esko Graphics Logo" class="company-logo">
                        <div class="company-info">
                            <h3 class="job-title">Software Development Internship</h3>
                            <h4 class="company-name">Esko Graphics Private Ltd.</h4>
                            <span class="job-duration"><i class="far fa-calendar-alt"></i> Jan 2021 - May 2021</span>
                            <p class="company-location"><i class="fas fa-map-marker-alt"></i> Bangalore, India</p>
                        </div>
                    </div>
                    <div class="job-description">
                        <ul>
                            <li>Engineered robust applications from scratch using C, Java, NodeJS, and JavaScript, improving system architecture and logical problem-solving without utilizing frameworks.</li>
                            <li>Designed and deployed an online food delivery app on EC2, handling backend architecture, database design, order processing and ensuring a smooth UX from front-end to back-end.</li>
                        </ul>
                    </div>
                    <div class="experience-tech-stack">
                        <h5>Tech Stack:</h5>
                        <div class="tech-tags">
                            <span class="tech-tag">C</span>
                            <span class="tech-tag">Java</span>
                            <span class="tech-tag">NodeJS</span>
                            <span class="tech-tag">JavaScript</span>
                            <span class="tech-tag">AWS EC2</span>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>
